body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#userList {
    list-style-type: none;
    padding: 0;
}

#userList li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
